<% @posts.each do |post|  %>
<div class="col-md-12">
  <div class="post-weapper">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <p class="data"><%= post.created_at.strftime("%Y, %D, %B") %></p><hr>
  </div>

  <% end %>
</div>
